@page "/about"

@attribute [Authorize]

<h1>Welcome to PlannerApp</h1>
<div class="row">
    <div class="col-6">
        <p>This application was developed as the material for the course 
        <b><a href="https://www.youtube.com/watch?v=JkB8f4uFUqE&list=PLFJQnCcZXWjtftgq0KID4oHk6wfJrRL1r">'Blazor WebAssembly Full Client Side Project from Scratch'</a></b></p>
        <h3>You will Learn</h3>
        <ul>
            <li>Blazor WebAssembly Basics</li>
            <li>Navigation and routing</li>
            <li>Call the API</li>
            <li>Upload files</li>
            <li>Implement CRUD operation</li>
            <li>Register and Login</li>
            <li>Full custom authentication system</li>
            <li>Layout</li>
            <li>Create reusable components</li>
            <li>Deploy the application to Azure</li>
            <li>More and more are wating for you</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-2">
        <a href="http://ahmadmozaffar.net" class="btn btn-primary">My offical website</a>
    </div>
    <div class="col-2">
        <a href="https://github.com/aksoftware98" class="btn btn-info">My GitHub</a>
    </div>
    <div class="col-2">
        <a href="http://www.youtube.com/channel/UCRs-PO48PbbS0l7bBhbu5CA" class="btn btn-danger">AK Academy</a>
    </div>
    <div class="col-2">
        <a href="https://www.facebook.com/aksoftware98/" class="btn btn-primary">Facebook</a>
    </div>
    <div class="col-2">
        <a href="https://www.twitter.com/ahmadmozaffar99/" class="btn btn-primary">Twitter</a>
    </div>
</div>
