@page "/"

@attribute [Authorize]

<h1>Welcome to PlannerApp</h1>

<a href="/plans/add"><h1>Get Start by creating your first Plan</h1></a>
<p>Developed with love by Ahmad Mozaffar</p>
<a href="https://www.youtube.com/watch?v=JkB8f4uFUqE&list=PLFJQnCcZXWjtftgq0KID4oHk6wfJrRL1r" class="btn btn-danger">Watch the full course</a>
